<div class="container-fluid">
  <div class="aboutus">
      <p><strong style="font-size: 16px">SAGA Buzz</strong> is a one stop website for people interested in Films, TV Series, Celebrity articles, Box Office Collection and lot more.</p>
      <p>Write your own reviews, create your watch list, maintain your own movie journal and be a part of our universe</p>

      <h2>Design and Developed by:</h2>
      <ul>
        <li><strong style="color: #BE5869">S</strong>rikant</li>
        <li><strong style="color: #BE5869">A</strong>chyuth</li>
        <li><strong style="color: #BE5869">G</strong>opi</li>
        <li><strong style="color: #BE5869">A</strong>nusha</li>
      </ul>
      <h2>Contact Us</h2>
      <address>
        <a href="mailto:avgh3@umsystem.edu">SAGA Buzz</a><br>
        <a href="tel:+19132833427">+1 (913) 283-3427</a>
      </address>
</div>
</div>