<a href="index.html">Home</a>&gt;<a href="categories.html">My Reviews</a>&gt;
<p class='itemInformtionTitle'><img class='itemImage' src="../../assets/Images/itemImage.Jpg" alt="itemicon ">Spiderman:Homecoming</p><p  class='itemInformtionTitle catInfo'>Category: Movie and T.V shows</p><p  class='itemInformtionTitle catInfo'>Rating:<span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></p>
<button type='button' onclick="location.href='myItems.html'">Save to Watch List</button>
<button  type='button'>Rate</button>
<div class='review'>
  <h4>Star Cast: Tom Holland, Michael Keaton, Jon Favreau, Zendaya, Donald Glover, Tyne Daly, Marisa Tomei, Robert Downey Jr., Laura Harrier<br>
    <br>Director: Jon Watts<br>
    <br>What’s Good: Tom Holland’s performance is impressive and cute! Robert Downey Jr in a white Kurta with red dupatta will make any female fan faint! I liked the scene
    <br>when Spidey rescues his friends in a lift and the action scene in the climax. Nice special effects!<br>
    <br>What’s Bad: This Spider-Man is still a trainee, he is yet to get accustomed to his costume, I didn’t like my favourite childhood superhero being showcased as a helpless and vulnerable teenager who needs someone to save himself while in danger.<br>
    <br>Loo Break: In the beginning of the first half<br>
    <br>Watch or Not?: This film will not impress you if you are a Spider-man fan.</h4>
  <h2>Spider-Man: Homecoming Review: Script Analysis</h2>
  Writers Jonathan Goldstein, John Francis Daley, Jon Watts, Christopher Ford, Chris McKenna and Erik Sommers have crafted a crisp refreshing story, which keeps the viewer hooked to the screen till the end.
  Talking abour Peter Parker and Spider-Man, the viewer will empathize with him, worry about the consequences or dangers he has to face and silently pray for him to overcome every obstacle and emerge as the winner. This is exactly where the scriptwriters, including Jon Watts score.
  However,  I was a bit disappointed at the way Spider-Man is shown as a helpless and vulnerable teenager. The scene in which he tries to stitch a broken ship just like we stitch clothes with needle and thread made no sense to me. Was the scene created to show how Iron Man is more powerful than Spidey? But this is supposed to be a Spider-Man film!
  The parallellythe cute love story which runs parallelly with the superhero part. Peter is just like any other teen who has to struggle to handle a lot of things together.
  <h2>Spider-Man: Homecoming Review: Star Performance</h2>
  Be it Peter Parker or Spider-Man, Tom Holland impresses in both. The 21-year-old actor not only delivers a remarkable performance but actually looks convincing in the avatar of a 15-year-old geeky high school student as well as a newbie, trainee superhero. This actor actually lives the character he plays and he has proved his talent time and again with films like The Impossible (2012) and the recently released The Lost City of Z among others.

  Robert Downey Jr. Steals the show as Tony Stark / Iron Man. His mere presence in the film is enough to make ladies forget everything else and stare at him, such is his charisma. Also, his desi avatar is too hot to handle! Any plans for Bollywood sir?

  Michael Keaton makes a menacing villain Adrian Toomes / Vulture. I hated him for attacking the poor Spidey repeatedly which made me love his performance!

  Jon Favreau as Happy Hogan doesn’t get much of screen time but does a good job.

  Marisa Tomei looks too young to be Aunt May but if Peter is 15, then this age suits her. She delivers a nice performance.

  Laura Harrier is not just extremely beautiful but makes you fall in love with Liz. Not just Peter, any guy would fall for her!


  <h2>Spider-Man: Homecoming Review: Direction, Music</h2>
  The casting is spot on! I must say Tom Holland is an apt choice for Marvel’s flagship character.

  While watching the film, I was continuously debating in my mind as to who makes a better Spider-man between Holland and his predecessors Andrew Garfield and Tobey Maguire. After watching it, I conclude that while both Garfield and Maguire made a more handsome spidey, a younger and youthful-looking Holland is fit for this instalment as per the requirements of the script. I would love to watch him in the avatar of a grown-up spidey in the forthcoming films of the franchise.

  The film is gripping barring a few scenes where Spider-Man is struggling with his costume. The action scenes are too good. Overall, the film is light and entertaining.

  The special effects in this film are good and live up to the viewer’s expectations from a Marvel flick.

  <h2>Spider-Man: Homecoming Review: The Last Word</h2>
  Spider-Man: Homecoming is a nice movie with a good script. It might not impress a diehard Spider-Man fan but makes for an enjoyable watch. 3 stars for this one!
</div>


