@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap'");

.listing {
    font-family: 'Nunito Sans', sans-serif;
}
@media only screen and (min-width: 500px) {
    .listing{
        margin: 3rem 1.5rem;
    }
}
@media only screen and (min-width: 1920px) {
    .listing{
        margin: 5.1rem;
    }
}

.listing__head {
    display: flex;
    align-items: baseline;
    margin-bottom: 1.5rem;
}
@media only screen and (min-width:1920px) {
    .listing__head{
        margin-bottom: 2rem;
    }
}

.listing__title {
    font-size: 1.8rem;
    color: #BE5869;
    letter-spacing: normal;
}
@media only screen and (min-width:1920px)  {
    .listing__title{
        font-size: 2.4rem;
    }
}

.listing__explore {
    margin-left: 1rem;
    font-size: 1rem;
    color: #5a7afa;
    letter-spacing: normal;
}
@media only screen and (min-width:1920px) {
    .listing__explore {
        font-size: 1.4rem;
    }
}

listing__explore:hover,
listing__explore:focus {
    opacity: 0.8;
}

.listing-item-style {
    background-color: #212121;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 5px;
    margin: 11px 5px 11px;
    position: relative;
    cursor: pointer;
}

listing-item-style:focus {
    outline-style: none;
}

img {
    width: 100%;
    transition: all .5s ease-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h6 {
    font-size: 30px;
    overflow: hidden;
    margin: 5px 4px;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    padding: 2px 2px;
    color: white;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.rate {
    font-size: 12px;
    background: rgba(11, 26, 42, .95);
    padding: 1px 7px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 8px;
}

.material-icons {
    color: #BE5869;
    font-size: 16px;
    margin-right: 4px;
}

span {
    color: #BE5869;
    font-size: 16px;
    font-weight: 600;
}


.year {
    position: absolute;
    left: 6px;
    background: rgba(11, 26, 42, 0.95);
    padding: 1px 7px;
    border-radius: 5px;
    top: auto;
    bottom: 21px;
    color: #fff;
    pointer-events: none;
    font-size: 14px;
    font-weight: 400;
}


@media (max-width: 500px) {
    .listing-item-style{
        margin: 5px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
}


.hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Dosis, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #BE5869;
    background-color: white;
    padding: 8px 15px;
    z-index: 2;
    width: 120px;
    height: 38px;
    border-radius: 1px;
    cursor: pointer;
    transition: all .5s ease-out;
}

b {
    position: absolute;
    line-height: 25px;
    font-size: 13px;
    left: 13px;
}


.listing-item-style:hover .overlay {
    opacity: 1;
}

/*https://therichpost.com/angular-12-primeng-carousel-slider-with-dynamic-data/*/

.p-ripple {
    background-color: #BE5869 !important;
    color: white !important;
    border-radius: 1px !important;
    opacity: 1;
    border: 1px solid #BE5869 !important;
    height: 25px;
    width: 25px;
}

.p-carousel-indicators p-reset {
    display: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.p-carousel-prev, .p-carousel-next {
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.p-ripple {
    background-color: #BE5869 !important;
    color: #BE5869 !important;
    border-radius: 1px !important;
    opacity: 1;
    border: 1px solid #BE5869 !important;
    height: 25px;
    width: 25px;
}